/* Переваги  */

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.benefits-set__icon {
  @extend %centeredFlex;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--second-fon-color);
}
@media screen and (min-width: 768px) {
  .benefits-set {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -15px;
  }

  .benefits-set__item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-set__item {
    width: calc((100% - 8 * 15px) / 4);
  }

  // .benefits-set__item:not(:last-child) {
  //   margin-right: 30px;
  // }
}

.benefits-set__item .benefits-set__text--start {
  text-align: start;
}
.benefits-set__title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}
.benefits-set__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}
