/* Форма футера */

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.form-box__input {
  margin: 0;
  padding: 15px 16px;
  @media screen and (max-width: 479px) {
    width: 100%;
  }
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  &:focus {
    border: 1px solid var(--accent-color);
    outline: none;
  }
}

.form-box__input {
  margin-bottom: 20px;
}
.form-box__button {
  position: relative;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  margin: 0;
  padding: 10px 62px 10px 29px;
  border: none;
  width: 200px;
  height: 50px;

  margin-left: 12px;

  color: #fff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
.form-box__icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);

  fill: #fff;
}
