/* Css портфоліо */

.section-form {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section-form {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.button-set__button {
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--second-fon-color);
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;

  transition: background-color var(--time-transform), color var(--time-transform),
    box-shadow var(--time-transform);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.button-set {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .button-set {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    align-items: center;
  }
  .card-set__item:nth-child(9) {
    margin-right: auto;
  }
}
.button-set__item:not(:last-child) {
  margin-right: 8px;
}
@media screen and (max-width: 767px) {
  .button-set__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
  .button-set__item:nth-child(n + 4) {
    margin-bottom: 40px;
  }
  .button-set__item:nth-child(3) {
    margin-right: 0;
  }
}

.card-set__link {
  display: block;
  transition: box-shadow var(--time-transform);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

/* Оверлей */

.overley {
  position: relative;
  display: flex;
  overflow: hidden;
}

.overley__text {
  position: absolute;
  transform: translateY(100%);

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 63px;
  padding-right: 39px;
  padding-left: 24px;
  padding-bottom: 83px;

  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform var(--time-transform);
}
@media screen and (max-width: 420px) {
  .overley__text {
    font-size: 16px;
    line-height: 1.38;
    padding-top: 30px;
    padding-bottom: 90px;
  }
}
.card-set__link:hover .overley__text,
.card-set__link:focus .overley__text {
  transform: translateY(0%);
}
/* Закінчення оверлей */
@media screen and (min-width: 1200px) {
  .card-set {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
  }
  .card-set__item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
    background: #ffffff;
  }
}
.card-set__link {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.card-set__content {
  flex-grow: 1;
}
@media screen and (max-width: 767px) {
  .card-set__item:not(:last-child) {
    margin-bottom: var(--card-set-gap);
    .card-set__item {
      margin-left: 0;
    }
  }
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .card-set {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -15px;
  }
  .card-set__item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

.card-set__content {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.card-set__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}
.card-set__resource {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-top: 4px;
  color: var(--primary-text-color);
}
