/* Секція наша команда */

// .team {
//   display: flex;
// }

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -15px;
  }
  .team__item {
    width: calc((100% - 4 * 15px) / 2);

    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 8 * 15px) / 4);
  }
}

.list-icon {
  @extend %centeredFlex;
}
.list-icon__link {
  @extend %centeredFlex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

// .list-icon__item:not(:last-child) {
//   margin-right: 10px;
// }

@media screen and (max-width: 767px) {
  .team .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.card-container__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}
.card-container__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
  color: var(--primary-text-color);
}
.color {
  background-color: var(--second-fon-color);
}
.section-head {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.card-container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.list-icon__link {
  fill: var(--svg-fon-color);
  transition: fill var(--time-transform), background-color var(--time-transform);
  &:hover,
  &:focus {
    fill: #ffffff;
    background-color: var(--accent-color);
  }
}

.team__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
// .team__item:not(:last-child) {
//   margin-right: 30px;
// }
